.topcontainer {
  text-align: center;
}
.App {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  width: 100%;
}
.bc-crew {
  height: 98vh;
  width: 400px;
}
.binarybots {
  height: 98vh;
  width: 400px;
}
.defaultteam {
  height: 98vh;
  width: 400px;
}
.studentCardContainer {
}
.student-pic {
  border-radius: 50%;
  width: 40%;
  height: 120px;
}
