.topcontainer {
  text-align: center;
}
.App {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  width: 100%;
}
.bc-crew {
  height: 98vh;
  width: 400px;
}
.binarybots {
  height: 98vh;
  width: 400px;
}
.defaultteam {
  height: 98vh;
  width: 400px;
}
.studentCard {
  border: 2px solid black;
}
.student-pic {
  border-radius: 50%;
  width: 40%;
  height: 120px;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-right: 10px;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}
